<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AzureJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=boomerangx;AccountKey=CY9EONvxX56OOs1EJ7Td3TYTBtK8ticQMINikbxRs/5jCLehhKazpsooqx6N2PQ0UHDdxMGoE3WMjnxGImLUwg==" />
    <add name="AzureJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=boomerangx;AccountKey=CY9EONvxX56OOs1EJ7Td3TYTBtK8ticQMINikbxRs/5jCLehhKazpsooqx6N2PQ0UHDdxMGoE3WMjnxGImLUwg==" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=hackathonax;AccountKey=ElFdjC5YyfJSs8AP/Irt5C1S2BiZ0NxNDqCaCBUwJZJ765ZvhKZa2Gisbwaiu2v+AkXdZryxmJDbm4po6lSRsQ=="/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="TextWriterOutput.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>