<!-- ko with: home -->
<div class="jumbotron">
    <h1>Smart Dynamics AX</h1>
</div>
<div class="row">
    <p>
        @Html.ActionLink("All sales orders", "", "SalesOrders")
    </p>
    <p>
        @Html.ActionLink("All products", "", "Products")
    </p>
</div>

<!-- /ko -->
